
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #eff5f8;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section h1 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

section p {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

button {
  background-color: green;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 20px;
}

#answer-indicator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-top: gray solid 1px;
  padding-top: 10px;
  color: gray;
}

#view-highscores {
  cursor: pointer;
}



